################################################################################
#
# Partner registry
#
################################################################################
# 
# partnerId|partnerName|partnerEmail|partnerPhone|partnerSSLExpDate|partnerGroup|partnerSerialNumber|partnerIssuerCA|partnerRouteACL|routeACLType|partnerThrottleChain|classifier
#
# partnerId - external id used to identify the partner, must be "partner_"<partnerName>
# partnerName - name of the partner
# partnerEmail 
# partnerPhone
# partnerSSLExpDate
# partnerGroup
# partnerSerialNumber - serial number of the certificate presented by the partner
# partnerIssuerCA - DN of the CA issuing the partner certificate
# partnerRouteACL - list of the partner which is allowed to use (currently not supported)
# routeACLType - true is whitelist, false is blacklist
# partnerThrottleChain - throttle chain common for all operations invoked by partner
# classifier - Used as PartnerId by Spotfire
################################################################################
partner_anon|anon|support@tibco.com|650-846-1000||anon|anonymous|O=TIBCO;CN=ASG;CN=RV;CN=Anonymous||||

partner_TESTIGW02|TESTIGW02|||||a45861e0ff7a7caf51bbd02420cf622|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false|

partner_DAL|DAL||||VF-INTERNAL|65b24a260ca48bca219eaf184c435f3|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

partner_UNICA|UNICA||||VF-INTERNAL|572b20d5967a1eaeefabcb7a6886dbc|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

#partner_COUK|COUK||||VF-INTERNAL|44b763e27b0f24d618d21ce61978e62|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

partner_LMS|LMS||||VF-INTERNAL|4c6072c5730cb8ff419603d2db38403|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

partner_Chordiant|Chordiant||||VF-INTERNAL|7700095b1a1f66ac77fed0bea5000000095b1a|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||

#partner_FICO|FICO||||VF-INTERNAL|025D98E6A7C84A686F03775D6F816E65|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

partner_ORPOS|ORPOS|TIL-RIG_Dep@external.groups.hp.com|88888888||VF-INTERNAL|7700091fda3a438f1d181c364c000000091fda|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||

partner_IBMDatacap|IBMDatacap||||VF-INTERNAL|d445278c3a7ed7ecd8c5b6f6464cf72|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false|H-IBMDatacap-20|

partner_DNA|DNA||||VF-INTERNAL|7edd9fa456328a702cc0776aa00347e|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false|H-DNA-3|

partner_ZYGODMETL|ZYGODMETL||||VF-INTERNAL|8dc267c191796cd95cb13ce8dcc1af5|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

partner_ORMS|ORMS||||VF-INTERNAL|7700117d5fa735807cf69182e9000000117d5f|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||

#partner_WebChat|WebChat||||VF-INTERNAL|42ef3c1a7904354186c7a7b9a9bdaaf|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

########CR56962|Tanvi########
#partner_WebChat|WebChat||||VF-INTERNAL|770011a0c4015e951d3839ac3d00000011a0c4|CN=Vodafone Internal CA, OU=IT, O=Vodafone Group, C=GB||false||
partner_WebChat|WebChat||||VF-INTERNAL|770011a0c4015e951d3839ac3d00000011a0c4|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||

partner_ALIVE|ALIVE||||VF-INTERNAL|b389f5f8838ca74f4f4c02e99783700|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

#partner_AOM|AOM||||VF-INTERNAL|0fbddf36d75669a38fb5022be50bf7ed|CN = DigiCert SHA2 Assured ID CA||false||

#####CR56542|Karthik#####
partner_AOM|AOM||||VF-INTERNAL|fbddf36d75669a38fb5022be50bf7ed|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

#####CR56627 - Karthik#####
partner_COUK|COUK||||VF-INTERNAL|3e6f105bdac5bad8b58a4f9aa8e4755|CN=DigiCert SHA2 Assured ID CA, OU=www.digicert.com, O=DigiCert Inc, C=US||false||

##########CR58067 - KARTHIK##########
partner_FICO|FICO||||VF-EXTERNAL|019AB8094BB798D4F221BB1A7086B12D|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

###############CR57901|Yogesh|CCS20.3 andCCS20.4 Code base on T3|upliftment########################33
#partner_TRACS|TRACS||||VF-INTERNAL|7700102aeb381fefa969e69b4f000000102aeb|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||

#############Yogesh|Discussed with Praven#######
partner_TRACS|TRACS||||VF-INTERNAL|770012f80a4a49bc54df05c42000000012f80a|CN=Vodafone Internal CA, O=Vodafone Group, C=GB||false||
