################################################################################
#
# Partner registry
#
################################################################################
# 
# partnerId,partnerName,partnerEmail,partnerPhone,partnerSSLExpDate,partnerGroup,partnerSerialNumber,partnerIssuerCA,partnerRouteACL,routeACLType,partnerThrottleChain,classifier
#
# partnerId - external id used to identify the partner, must be "partner_"<partnerName>
# partnerName - name of the partner
# partnerEmail 
# partnerPhone
# partnerSSLExpDate
# partnerGroup
# partnerSerialNumber - serial number of the certificate presented by the partner
# partnerIssuerCA - DN of the CA issuing the partner certificate
# partnerRouteACL - list of the partner which is allowed to use (currently not supported)
# routeACLType - true is whitelist, false is blacklist
# partnerThrottleChain - throttle chain common for all operations invoked by partner
# classifier - Used as PartnerId by Spotfire
################################################################################

partner_anon|anon|support@tibco.com|650-846-1000||anon|anonymous|O=TIBCO;CN=ASG;CN=RV;CN=Anonymous||false||
#partner_OPTENET|OPTENET||||VFNetworksIT|0E1BCCF1EBBC3B3CE920B06239FE6F44|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-OPTENET-4|
#partner_EDGE|EDGE||||VFExternal|010000000001189CC2BE1A|CN=DEVVodafone (Trusted Clients),O=Vodafone Group,C=UK||false||

#Added for CR46395 by NikitaSanap
partner_OPTENET|OPTENET||||VFNetworksIT|07C3301651B987ADDE4428BC596D4E18|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-OPTENET-4|

#Commented Old Certificates
#partner_EDGE|EDGE||||VFExternal|0FBD00583A203FF5E11ED7972E183D6E|CNpartner_EDGE|EDGE||||VFExternal|0FBD00583A203FF5E11ED7972E183D6E|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#Added new EDGE Certificates under CR45510
#partner_EDGE|EDGE||||VFExternal|0ce7e0e517d846fe8fe560fc1bf03039|CN=DigiCert Assured ID Root CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#Added new EDGE Certificates -10-01-2018 -- Commented on 31-Oct-2019 for CR544426 - VR
#partner_EDGE|EDGE||||VFExternal|0D2A0CD9F8C895540736C651161875D7|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||
#CR54426 Edge Certificate Change - VR
partner_EDGE|EDGE||||VFExternal|0181EE822A76CFE1C9646813B4A78EF8|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

partner_IntelligentNotificationSystem|IntelligentNotificationSystem|support@mir3.com|||VFExternal|010000000001189CC2BE0D|CN=DEVVodafone (Trusted Clients),O=Vodafone Group,C=UK||false|H-NC1-12|
#partner_HURM|HURM||||VF-INTERNAL|010000000001189CC2BE45A|CN=DEVVodafone (Trusted Clients),O=Vodafone Group,C=UK||false|H-HURM-6|
#partner_IVR|IVR|||||069D03DCF3D611CA8E69488CBB958ED6|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVR-26|
#partner_ANOVO|ANOVO||||VFExternal|07C3C3EB0B10B87B7FB751D3D3544D4B|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-ANOVO-06|
#partner_ANOVO|ANOVO||||VFExternal|08d83663ea973b25d618e454d3a6a31d|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||
partner_ANOVO|ANOVO||||VFExternal|0D55034BB2FDCDA30A190B7D9997DBF4|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

# reverted from 0D55034BB2FDCDA30A190B7D9997DBF4 for CR 55235 (Dummy testing)
#partner_SingleView|SingleView||||VFExternal|080F11BF87F0B53A0C484E30FBAC52A3|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#partner_SingleView|SingleView||||VF-INTERNAL|0829AAC685192684ED33745B1884E074|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||
####CR-55362###
partner_SingleView|SingleView||||VFExternal|0A6627AC6DBE01952E300A2EEB0CD0AF|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||


#partner_WMMEDIATOR|WMMEDIATOR|||||02922663F439CFA869FF6C56F6A540AD|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

partner_VPS|VPS||||VF-INTERNAL|0B7AC83EFDF572D88A0930F2CE506737|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-VPS-06|
partner_ISTIL|ISTIL||||VF-INTERNAL|tilbw|CN=DEVVodafone (Trusted Clients),O=Vodafone Group,C=UK||false||

#partner_ISTIL|ISTIL||||VF-INTERNAL|0829AAC685192684ED33745B1884E074|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

partner_QFlow|QFlow|support@qnomy.com|0333 6008090||VF-INTERNAL|010000000001189CC2BE49|CN=DEVVodafone (Trusted Clients),O=Vodafone Group,C=UK||false|H-QFlow-4|
partner_OPIN|OPIN||||VF-INTERNAL|0EE12C645B9D7FFFC2B08C134CE10986|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-OPIN-3|
#partner_IVIEW|IVIEW||||VF-INTERNAL|0DB41E1586C2D284B6B06B5DF834AB07|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVIEW-03|

#CR57350|SantoshVanam
partner_IVIEW|IVIEW||||VF-INTERNAL|07BB6D5E0A0A26718705652D14A1596D|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVIEW-03|

#CR-33617 25-04-2017 CCS 6.1 IRIS#25162 � VPSLEGACY Partner Tools Parity#
#partner_VPSLEGACY|VPSLEGACY||||VF-INTERNAL|0D1F6E30DB4BA7B6FDDE4A57C4111536|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-VPSLEGACY-06|

##CR 35531
partner_ALEXA|ALEXA||||VF-EXTERNAL|052191AB42EC29D7E2E4E4B1A2CCA1B3|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#CR-36420

partner_SALESASSIST|SALESASSIST|Tech.support@salesassist.com|1242246790|||0C0859866481FE338581E932642A16A8|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-SALESASSIST-9|

#CR 36695

#partner_CESB|CESB||||VF-INTERNAL|06DA0C3E658EA801DCD8CCCA80FC8DDD|CN=DigiCert SHA2 Secure Server CA,O=DigiCert Inc,C=US||false|H-CESB-25|
partner_CESB|CESB||||VF-INTERNAL|0A39AA59A70A6BC447F7E6348FAFBEA2|CN=DigiCert SHA2 Secure Server CA,O=DigiCert Inc,C=US||false|H-CESB-25|
# CR 37380

#partner_APIX|APIX|apix@vodafone.com|00492115333344||VF-INTERNAL|0495E970D4141B388F92C77C4DF3F518|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-APIX-30|

#CR46587 APIX Certificate Renewal
#partner_APIX|APIX|apix@vodafone.com|00492115333344||VF-INTERNAL|02AD2B3730A5BBCFE424A998AD2BFFF6|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-APIX-30|

partner_APIX|APIX|apix@vodafone.com|00492115333344||VF-INTERNAL|0BE1A93AC786BBABB911DC36EC58E275|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-APIX-30|

**********Yogesh CR 56699************
#partner_APIX|APIX|apix@vodafone.com|00492115333344||VF-INTERNAL|048C1048FA9D978DE28AAD378FCA638E|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-APIX-30|


#CR 46440 of TIL for eCare certificate update. DATE 25-JAN-19
#partner_COUK|COUK|TIL-RIG_Dep@external.groups.hp.com|88888888||VF-INTERNAL|044B763E27B0F24D618D21CE61978E62|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

######CR56627 - KARTHIK#####
partner_COUK|COUK|TIL-RIG_Dep@external.groups.hp.com|88888888||VF-INTERNAL|03E6F105BDAC5BAD8B58A4F9AA8E4755|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

****Yogesh CR 56304**************
#partner_COUK|COUK|TIL-RIG_Dep@external.groups.hp.com|88888888||VF-INTERNAL|0B6034E45F62BD6AD9DB5DDB2F5A062F|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||


partner_LEXMARKMFD|LEXMARKMFD||||VF-INTERNAL|0D8C64E1C2283D3C62131EDC15EF7698|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#partner_LEXMARKMFD|LEXMARKMFD||||VF-INTERNAL|0829AAC685192684ED33745B1884E074|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||


#IDAM Moderization
#partner_IDM|IDM|Tech.support@idm.com|1242246790|||07C7874601FFE637F5F59D557EE40DCB|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IDM-03|
partner_LIVEPERSON|LIVEPERSON|rli@liveperson.com|7760557694|||096DB23987620E1AB3A8ED34CADDBFFF|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-LIVEPERSON-20|


#CR 44215
#partner_IDM|IDM|Tech.support@idm.com|1242246790|||0E22985F1534CB3467BCA73318E65C72|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IDM-03|

#########CR48782-IVR|Bhaktiar#########
#partner_IVR|IVR||||VFINTERNAL|0B350C7577AA46FBD3E0699AFDE12A5F|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVR-26|

##CR50703 commented as this is reverted
#partner_IVR|IVR||||VFINTERNAL|0CE7E0E517D846FE8FE560FC1BF03039|CN=DigiCert Assured ID Root CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVR-26|

## Changes as part of IRIS-25411 (A4E) CR47970|Rohan ##
##CA Identifier/Cert details and Serial number to be updated accordingly for UK Remedy Mobile##
#partner_MOBILEREMEDY|MOBILEREMEDY||||VF-INTERNAL|0E73C0BB67|CN=DigiCert AKASH Secure Server CA,O=DigiCert Inc,C=US||false||

partner_MOBILEREMEDY|MOBILEREMEDY||||VF-INTERNAL|080E4F43DDC117165955688EDB86F424|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||


#CR 50844

## commenting this operation as reverting the CR 50844
#partner_IVR|IVR||||VFINTERNAL|07D6ECEFB2E61BAA2360BCA59E98C2DD|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVR-26|

#Defect 40115|Mihir
#partner_WMMEDIATOR|WMMEDIATOR||||VFINTERNAL|02E15020C828B2094FFBA9E217278C00|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

#CR56721|Jitendra
partner_WMMEDIATOR|WMMEDIATOR||||VFINTERNAL|0DFA591D5D98AF52685E70124F2E9D3D|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

##########CR53539|Bhaktiar##########
partner_IDM|IDM|Tech.support@idm.com|1242246790|||072D986D98E22E18170AC5A060C8B7EF|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IDM-03|


#####CR57901|Yogesh#################
partner_NSC|NSC|elwyn.coulson@vodafone.com|07867900570||VF-INTERNAL|0832890E10CEAC69AD45A304D52FAE7E|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-NSC-72|null

partner_PONTIS|PONTIS|pontis@pontis.com|00441686666666||VF-INTERNAL|0100000000014C79E788C436F5CD|CN=Vodafone (Trusted Clients),O=Vodafone Group,C=UK||false|H-PONTIS-72|null

partner_VESTA|VESTA|NOC@trustvesta.com|+15035523480||VF-INTERNAL|090302829135EA19432FA4849471DD8E|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-VESTA-288|

partner_UC4|UC4|John.Hughes@vodafone.com|07903831493||VF-INTERNAL|0829AAC685192684ED33745B1884E074|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-UC4-72|

partner_ZYGO|ZYGO|zygo@zygo.com|00441688 888888||VF-INTERNAL|0EC5ED4EDE4AA2285A1C136A786E7C7F|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCertInc,C=US||false||

partner_VELTI|VELTI|PerformanceMarketing-Systems@velti.com|00441688 888888||VF-INTERNAL|0AFB22F76D7C22617BFBA8F2E9854FC4|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-VELTI-144|null

##########CR58783 - KARTHIK##########
partner_IVR|IVR||||VFINTERNAL|0326B7A5D49580D5FA8EA21A49F9DB1F|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-IVR-26|

#######################CR59109 | Yogesh###########
partner_REMEDYMGMTPORTAL|REMEDYMGMTPORTAL||||VF-INTERNAL|0C06BCD90D98F419BD895E4DA524DC74|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false||

##########CR59243 - Bhaktiar#########
partner_HURM|HURM||||VFINTERNAL|0636E85671DE3FEE1C8B331525C68A8A|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-HURM-6|

##########CR59294 - KARTHIK##########
partner_VPSLEGACY|VPSLEGACY|||||0FB0F74A9C9BEA89CA38A0DF29231C66|CN=DigiCert SHA2 Assured ID CA,OU=www.digicert.com,O=DigiCert Inc,C=US||false|H-VPSLEGACY-06|

#### Auto Generated for JIRA - INTTIL-123. Project Name - TradeIn. Release - CCS20.6. Created by - karthik.manoharan1@vodafone.com. Change Description - Expose operations to TradeInPartner. On - 10-08-2020 11:36:59. ####

partner_TradeInPartner|TradeInPartner|tradeinpartner@vodafone.com|44700909000||VF-INTERNAL|[SerialNumber]|[CAIssuer]||false||